.notfound {
    background-color: #007aff;
    color: #fff;
    font-size: 100%;
    line-height: 1.5;
}

.btn-container{
    margin-top: 6rem;
}

.pa {
    font-size: 2em;
    text-align: center;
    font-weight: 100;
}

.h1-text {
    text-align: center;
    font-size: 15em;
    font-weight: 100;
}