main{
    background-color: rgb(253,95,32);
    height: 100%;
}

.nav{
    background-color: rgb(253,95,32);
}

.logo{
    font-family: monospace;
    font-weight: 600;
    font-size: 22px !important;
    color: #ffcd92 !important;
}

.logo a{
    color: #ffcd92 !important;
}

.container-top{
    position: relative;
    top: 9rem;
    color: #ffcd92;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content min-content;
    gap: 0px 0px;
    grid-template-areas:
      "entry"
      "row1"
      "row2"
      "row3"
      "row4";
  }
  
  .entry { grid-area: entry; }
  
  .row1 { grid-area: row1; }
  
  .row2 { grid-area: row2; }
  
  .row3 { grid-area: row3; }
  
  .row4 { grid-area: row4; }
  
.entry-text{
    font-family: monospace;
    font-weight: 400;
    font-size: 12rem;
    text-shadow: 7px 6px #a04709;
}

.info-text{
    font-family: monospace;
    font-weight: 400;
    font-size: 3rem;
    text-shadow: 3px 1px #a04709;
}

.info-text a{
    color: #ffcd92;
}
.info-text a:hover{
    color: #ffcd92;
}






.blinking-cursor {
    font-weight: 100;
    font-size: 27px;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #ffcd92;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }